---
layout: default
title : Homepage
navbar_name: Home
num_selected: 10
---
{% include widgets/profile_card.html %}

{% include widgets/experience_card.html %}

{% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
{% 
    include widgets/publication_card.html 
    publications=pubs limit=page.num_selected 
    title='<i class="fas fa-star"></i> Selected Publications'
%}

<div class="substack-post-embed"><p lang="en">AlphaFold3: A foundation model for biology (?) by Charlie Harris</p><p>DeepMind's latest structure prediction model has many new bells and whistles - but what does it mean for the TechBio industry?</p><a data-post-link href="https://harrisbio.substack.com/p/alphafold3-a-foundation-model-for">Read on Substack</a></div><script async src="https://substack.com/embedjs/embed.js" charset="utf-8"></script>